management:
  endpoints:
    web:
      discovery:
        enabled: true
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0
  metrics:
    tags:
      application: ${spring.application.name}

